.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login_css {
  border-radius: 20px;
  border: 1px solid #000000;
  background-color: #8DE4FF;
  text-align: center;
  padding: 20px;
  display: inline-block;
}

h1 {
  font-size: 30px;
  text-align: center;
  color: #000000;
}

.label {
  color: #000000;
  font-size: 16px;
}

button {
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  margin: 10px 0;
  padding: 8px;
  border-radius: 6px;
  border: none;
}

.form_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  background: fixed;
  background-color: #8ac4ff;
}